<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Vedado, <%= @contestant.nombre %></h1>
    <p>
      Gracias por participar en nuestro concurso para ganar un viahe a Cuba.<br>
    </p>
    <p>
      Te deseamos buena suerte, los resultados seran anunciados el 14/07/2017. El ganador sera contactado por email. 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>