// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bs-docs-featurette {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.filestyle {
	position: absolute;
	clip: rect(0px 0px 0px 0px);
}

