<footer class="footer" data-position="fixed" style="text-align: center; ">
  <div class="container" >
    <div class="col-sm-4" style="margin-top: 4px">
      <%= link_to 'Terminos y Condiciones', terminos_path, :style=> "color:white; float:right; margin-top:7px;", :target=> 'blank' %> 
    </div>
    <div class="col-sm-4" style="margin-top: 7px">
      <a target="_blank" href="https://www.facebook.com" ><i class="fa fa-facebook-square fa-2x"></i></a>
      <a target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram fa-2x"></i></a>
      <a target="_blank" href="https://www.gmail.com"><i class="fa fa-google fa-2x"></i></a>
    </div>
  </div>
</footer>